<ion-content [style.--background]="isLightOn ? selectedColor : '#0a0a0a'">
  <div class="app-container">
    
    <canvas #visualizerCanvas class="visualizer" [class.show]="isVoiceMode"></canvas>

    <div class="main-content" *ngIf="!isLightOn && !isSOS">
      <div class="glass-card">
        <h1 class="logo">QuickLight</h1>
        
        <div class="picker-box">
          <div class="preview-circle" [style.background]="selectedColor">
            <input type="color" [(ngModel)]="selectedColor" class="input-hidden">
          </div>
          <p class="hint">Custom Color</p>
        </div>

        <div class="presets">
          <div class="dot red" (click)="setPreset('#ff3b30')"></div>
          <div class="dot green" (click)="setPreset('#4cd964')"></div>
          <div class="dot blue" (click)="setPreset('#007aff')"></div>
          <div class="dot white" (click)="setPreset('#ffffff')"></div>
        </div>

        <div class="utils">
          <button class="u-btn sos" (click)="toggleSOS()">
            <ion-icon name="warning"></ion-icon>
            <span>SOS</span>
          </button>
          <button class="u-btn" (click)="activateTimer()">
            <ion-icon name="timer-outline"></ion-icon>
            <span>10s</span>
          </button>
        </div>
      </div>

      <div class="center-trigger">
        <button class="power-on" (click)="toggleVoiceMode()">
          <ion-icon name="mic"></ion-icon>
          <p>START MODE</p>
        </button>
      </div>
    </div>

      <div class="footer-action" *ngIf="isLightOn">
    <ion-button (click)="stopEverything()" class="btn-off-transparent">
      OFF
    </ion-button>
  </div>

  </div>
        
</ion-content>